<a href="https://colab.research.google.com/github/Bikashkhanal130/AI-and-its-application/blob/main/Day_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  Hands on Practice: Pandas and Matplotlib

# Exercise 1: Creating a Pandas Series

# Pandas Series = 1 - D array with labels

In [ ]:
import pandas as pd
scores = pd.Series([56,89,35,80,91], index = ["Maths", "Science", "English", "History", "Geography"])
print(scores)

Maths        56
Science      89
English      35
History      80
Geography    91
dtype: int64

# Task 1: Create a Pandas Series with a values [10,20,30,40] and indices ["A", "B", "C", "D"]. Print the Series

In [ ]:
import pandas as pd
scores = pd.Series([10,20,30,40], index = ["A", "B", "C", "D",])
print(scores)

A    10
B    20
C    30
D    40
dtype: int64

# Exercise 2: Creating a Pandas DataFrame

 Dataframe is in a table format

In [ ]:
# Creating a dictionary
data = {
     "Name": ["Aarav", "Bikram", "Cherry"],
     "Age" : [15, 56, 12],
     "City" : ["Delhi", "Kathmandu", "Sharjah"],
     "Country" : ["India", "Nepal", "Dubai"]
}

# Turning Dictionary into a dataframe
df = pd.DataFrame(data)

# Printing the Dataframe
print(df)

# Printing dataframe without index

print(df.to_string(index=False))

     Name  Age       City Country
0   Aarav   15      Delhi   India
1  Bikram   56  Kathmandu   Nepal
2  Cherry   12    Sharjah   Dubai
  Name  Age      City Country
 Aarav   15     Delhi   India
Bikram   56 Kathmandu   Nepal
Cherry   12   Sharjah   Dubai

# Create a DataFrame with colums "City" (["Paris", "Tokyo", "Sydney"]) and "Population" ([2.1, 37.4, 5.3]). Print the DataFrame

In [ ]:
data = {
    "Name" : ["Paris", "Tokyo", "Sydney"],
    "Population" : [2.1, 37.4, 5.3]
}

df = pd.DataFrame(data)
print(df)

     Name  Population
0   Paris         2.1
1   Tokyo        37.4
2  Sydney         5.3

# Exercise 3: Filtering Data in a  DataFrame

In [ ]:
# Creating a dictionary
data = {
     "Name": ["Aarav", "Bikram", "Cherry"],
     "Age" : [15, 56, 12],
     "City" : ["Delhi", "Kathmandu", "Sharjah"],
     "Country" : ["India", "Nepal", "Dubai"]
}

# Turning Dictionary into a dataframe
df = pd.DataFrame(data)

# Printing the Dataframe
print(df)

#Filtering

filter = df[df["Age"] > 15]
print(filter)

     Name  Age       City Country
0   Aarav   15      Delhi   India
1  Bikram   56  Kathmandu   Nepal
2  Cherry   12    Sharjah   Dubai
     Name  Age       City Country
1  Bikram   56  Kathmandu   Nepal

# Exercise 4: reading and processing a CSV File

# Create a DataFrame with columns "Name" (["Eve", "Frank", "Grace" abd "Age" ([19, 23, 20)]. Filter rows where Age is greater than 20 and print the result.

In [ ]:
data = {
    "Name" : ["Eve", "Frank", "Grace"],
    "Age" : [19, 23, 20]
}

df = pd.DataFrame(data)
print(df)

filter = df[df["Age"] > 20]

    Name  Age
0    Eve   19
1  Frank   23
2  Grace   20

In [ ]:
import io
import pandas as pd

# Creating a CSV file
csv_data = """
Name,Grade
Sushil,1
Arpan,2
Rohit,3
"""

# Reading the CSV file
df = pd.read_csv(io.StringIO(csv_data))
print(df)

# Calculate average grade
average_grade = df['Grade'].mean()
print(f"Average Grade: {average_grade}")

     Name  Grade
0  Sushil      1
1   Arpan      2
2   Rohit      3
Average Grade: 2.0

# Task 4: Simulate a CSV String with column "Product" (["Apple", "banana", "orange"]) and "Price" ([1.0, 0.5, 0.75]). read it into a dataframe and print the sum of price using df["price"]. sum().

In [ ]:
import io
import pandas as pd

csv_data = """
Product,Price
Apple,1.0
Banana,0.5
orange,0.75
 """

df = pd.read_csv(io.StringIO(csv_data))
print(df)

sum_of_price = df["Price"].sum()
print(f"Sum of Price: {sum_of_price}")

  Product  Price
0   Apple   1.00
1  Banana   0.50
2  orange   0.75
Sum of Price: 2.25